<div class="table-comparison">
    {% set schema_count = table.schema | length %}
    {% set data_count = table.data | length %}
    {% set total_changes = schema_count + data_count %}
    
    <h3 class="expandable" onclick="toggleCollapsible(this)">
        {{ table.name }} ({{ total_changes }} changes)
    </h3>
    <div class="collapsible-content">
        {% if (table.schema | length) > 0 %}
            {% set ns = namespace(added=0, removed=0, modified=0) %}
            {% for change in table.schema %}
                {% set change_type = change | get_change_type %}
                {% if change_type == 'added' %}
                    {% set ns.added = ns.added + 1 %}
                {% elif change_type == 'removed' %}
                    {% set ns.removed = ns.removed + 1 %}
                {% else %}
                    {% set ns.modified = ns.modified + 1 %}
                {% endif %}
            {% endfor %}
            <h4>Schema Changes 
                {% if ns.added > 0 %}<span class="cb a">Added</span> {{ ns.added }}{% endif %}
                {% if ns.removed > 0 %}<span class="cb r">Removed</span> {{ ns.removed }}{% endif %}
                {% if ns.modified > 0 %}<span class="cb m">Modified</span> {{ ns.modified }}{% endif %}
            </h4>
            <div class="table-container">
                <table class="schema-table">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Old Type</th>
                        <th>New Type</th>
                        <th>Old Nullable</th>
                        <th>New Nullable</th>
                        <th>Old Default</th>
                        <th>New Default</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in table.schema %}
                        {% set change_type_short = change | get_change_type_short %}
                        {% set change_type = change | get_change_type %}
                        <tr class="c{{ change_type_short }}">
                            <td{% if change.name | needs_tooltip %} title="{{ change.name }}"{% endif %}>{{ change.name }}</td>
                            {% if change_type == 'added' %}
                                <td>-</td>
                                <td{% if change.new.type | needs_tooltip %} title="{{ change.new.type }}"{% endif %}>{{ change.new.type }}</td>
                                <td>-</td>
                                <td{% if change.new.nullable | needs_tooltip %} title="{{ change.new.nullable }}"{% endif %}>{{ change.new.nullable }}</td>
                                <td>-</td>
                                <td{% if change.new.default | needs_tooltip %} title="{{ change.new.default or 'NULL' }}"{% endif %}>{{ change.new.default | format_cell_value | safe }}</td>
                            {% elif change_type == 'removed' %}
                                <td{% if change.old.type | needs_tooltip %} title="{{ change.old.type }}"{% endif %}>{{ change.old.type }}</td>
                                <td>-</td>
                                <td{% if change.old.nullable | needs_tooltip %} title="{{ change.old.nullable }}"{% endif %}>{{ change.old.nullable }}</td>
                                <td>-</td>
                                <td{% if change.old.default | needs_tooltip %} title="{{ change.old.default or 'NULL' }}"{% endif %}>{{ change.old.default | format_cell_value | safe }}</td>
                                <td>-</td>
                            {% else %}
                                <td{% if change.old.type | needs_tooltip %} title="{{ change.old.type }}"{% endif %}>{{ change.old.type }}</td>
                                <td{% if change.new.type | needs_tooltip %} title="{{ change.new.type }}"{% endif %}>{{ change.new.type }}</td>
                                <td{% if change.old.nullable | needs_tooltip %} title="{{ change.old.nullable }}"{% endif %}>{{ change.old.nullable }}</td>
                                <td{% if change.new.nullable | needs_tooltip %} title="{{ change.new.nullable }}"{% endif %}>{{ change.new.nullable }}</td>
                                <td{% if change.old.default | needs_tooltip %} title="{{ change.old.default or 'NULL' }}"{% endif %}>{{ change.old.default | format_cell_value | safe }}</td>
                                <td{% if change.new.default | needs_tooltip %} title="{{ change.new.default or 'NULL' }}"{% endif %}>{{ change.new.default | format_cell_value | safe }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}

        {% if (table.data | length) > 0 %}
            {% set ns = namespace(added=0, removed=0, modified=0) %}
            {% for change in table.data %}
                {% set change_type = change | get_change_type %}
                {% if change_type == 'added' %}
                    {% set ns.added = ns.added + 1 %}
                {% elif change_type == 'removed' %}
                    {% set ns.removed = ns.removed + 1 %}
                {% else %}
                    {% set ns.modified = ns.modified + 1 %}
                {% endif %}
            {% endfor %}
            <h4>Data Changes 
                {% if ns.added > 0 %}<span class="cb a">Added</span> {{ ns.added }}{% endif %}
                {% if ns.removed > 0 %}<span class="cb r">Removed</span> {{ ns.removed }}{% endif %}
                {% if ns.modified > 0 %}<span class="cb m">Modified</span> {{ ns.modified }}{% endif %}
            </h4>
            {% set all_columns = [] %}
            {% for change in table.data %}
                {% if change | get_change_type == 'added' or change | get_change_type == 'modified' %}
                    {% for col in change.new.keys() %}
                        {% if col not in all_columns %}
                            {% set _ = all_columns.append(col) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if change | get_change_type == 'removed' or change | get_change_type == 'modified' %}
                    {% for col in change.old.keys() %}
                        {% if col not in all_columns %}
                            {% set _ = all_columns.append(col) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
            <div class="table-container">
                <table class="data-table">
                <thead>
                    <tr>
                        {% for col in all_columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for change in table.data %}
                        {% set change_type_short = change | get_change_type_short %}
                        {% set change_type = change | get_change_type %}
                        <tr class="c{{ change_type_short }}">
                            {% for col in all_columns %}
                                {% if change_type == 'added' %}
                                    {% set val = change.new.get(col) %}
                                    <td{% if val | needs_tooltip %} title="{{ val or 'NULL' }}"{% endif %}>{{ val | format_cell_value | safe }}</td>
                                {% elif change_type == 'removed' %}
                                    {% set val = change.old.get(col) %}
                                    <td{% if val | needs_tooltip %} title="{{ val or 'NULL' }}"{% endif %}>{{ val | format_cell_value | safe }}</td>
                                {% else %}
                                    {% set old_val = change.old.get(col) %}
                                    {% set new_val = change.new.get(col) %}
                                    {% if old_val != new_val %}
                                        <td class="mc">
                                            <span class="ov"{% if old_val | needs_tooltip %} title="{{ old_val or 'NULL' }}"{% endif %}>{{ old_val | format_cell_value | safe }}</span>
                                            <span class="ar">→</span>
                                            <span class="nv"{% if new_val | needs_tooltip %} title="{{ new_val or 'NULL' }}"{% endif %}>{{ new_val | format_cell_value | safe }}</span>
                                        </td>
                                    {% else %}
                                        <td{% if new_val | needs_tooltip %} title="{{ new_val or 'NULL' }}"{% endif %}>{{ new_val | format_cell_value | safe }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>