<div class="table-comparison">
    {% set schema_count = table.schema | length %}
    {% set data_count = table.data | length %}
    {% set total_changes = schema_count + data_count %}
    
    <h3 class="expandable" onclick="toggleCollapsible(this)">
        {{ table.name }} ({{ total_changes }} changes)
    </h3>
    <div class="collapsible-content">
        {% if (table.schema | length) > 0 %}
            <h4>Schema Changes ({{ table.schema | length }} total)</h4>
            <div class="table-container">
                <table class="schema-table">
                <thead>
                    <tr>
                        <th>Change</th>
                        <th>Column</th>
                        <th>Old Type</th>
                        <th>New Type</th>
                        <th>Old Nullable</th>
                        <th>New Nullable</th>
                        <th>Old Default</th>
                        <th>New Default</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in table.schema %}
                        {% set change_type = change | get_change_type %}
                        <tr class="change-{{ change_type }}">
                            <td><span class="change-badge change-{{ change_type }}">{{ change_type }}</span></td>
                            <td class="truncate" title="{{ change.name }}">{{ change.name }}</td>
                            {% if change_type == 'added' %}
                                <td class="truncate">-</td>
                                <td class="truncate" title="{{ change.new.type }}">{{ change.new.type }}</td>
                                <td class="truncate">-</td>
                                <td class="truncate" title="{{ change.new.nullable }}">{{ change.new.nullable }}</td>
                                <td class="truncate">-</td>
                                <td class="truncate" title="{{ change.new.default or 'NULL' }}">{{ change.new.default | format_cell_with_tooltip | safe }}</td>
                            {% elif change_type == 'removed' %}
                                <td class="truncate" title="{{ change.old.type }}">{{ change.old.type }}</td>
                                <td class="truncate">-</td>
                                <td class="truncate" title="{{ change.old.nullable }}">{{ change.old.nullable }}</td>
                                <td class="truncate">-</td>
                                <td class="truncate" title="{{ change.old.default or 'NULL' }}">{{ change.old.default | format_cell_with_tooltip | safe }}</td>
                                <td class="truncate">-</td>
                            {% else %}
                                <td class="truncate" title="{{ change.old.type }}">{{ change.old.type }}</td>
                                <td class="truncate" title="{{ change.new.type }}">{{ change.new.type }}</td>
                                <td class="truncate" title="{{ change.old.nullable }}">{{ change.old.nullable }}</td>
                                <td class="truncate" title="{{ change.new.nullable }}">{{ change.new.nullable }}</td>
                                <td class="truncate" title="{{ change.old.default or 'NULL' }}">{{ change.old.default | format_cell_with_tooltip | safe }}</td>
                                <td class="truncate" title="{{ change.new.default or 'NULL' }}">{{ change.new.default | format_cell_with_tooltip | safe }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}

        {% if (table.data | length) > 0 %}
            <h4>Data Changes ({{ table.data | length }} total)</h4>
            {% set all_columns = [] %}
            {% for change in table.data %}
                {% if change | get_change_type == 'added' or change | get_change_type == 'modified' %}
                    {% for col in change.new.keys() %}
                        {% if col not in all_columns %}
                            {% set _ = all_columns.append(col) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if change | get_change_type == 'removed' or change | get_change_type == 'modified' %}
                    {% for col in change.old.keys() %}
                        {% if col not in all_columns %}
                            {% set _ = all_columns.append(col) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
            <div class="table-container">
                <table class="data-table">
                <thead>
                    <tr>
                        <th>Change</th>
                        {% for col in all_columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for change in table.data %}
                        {% set change_type = change | get_change_type %}
                        <tr class="change-{{ change_type }}">
                            <td><span class="change-badge change-{{ change_type }}">{{ change_type }}</span></td>
                            {% for col in all_columns %}
                                {% if change_type == 'added' %}
                                    {% set val = change.new.get(col) %}
                                    <td class="truncate" title="{{ val or 'NULL' }}">{{ val | format_cell_with_tooltip | safe }}</td>
                                {% elif change_type == 'removed' %}
                                    {% set val = change.old.get(col) %}
                                    <td class="truncate" title="{{ val or 'NULL' }}">{{ val | format_cell_with_tooltip | safe }}</td>
                                {% else %}
                                    {% set old_val = change.old.get(col) %}
                                    {% set new_val = change.new.get(col) %}
                                    {% if old_val != new_val %}
                                        <td class="modified-cell">
                                            <span class="old-value" title="{{ old_val or 'NULL' }}">{{ old_val | format_cell_value | safe }}</span>
                                            <span class="arrow">→</span>
                                            <span class="new-value" title="{{ new_val or 'NULL' }}">{{ new_val | format_cell_value | safe }}</span>
                                        </td>
                                    {% else %}
                                        <td class="truncate" title="{{ new_val or 'NULL' }}">{{ new_val | format_cell_with_tooltip | safe }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>